################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/24-Puzzle-Problem-Informed-Search/.vs/24-Puzzle-Problem-Informed-Search/v16
